@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* -----------------------General CSS */

body {
    position: relative;
    font-family: "Quicksand", sans-serif;
    color: #fafafa;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sub-heading {    /* <-----All Pages Headings */
    color: #fafafaf1;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
}

hr {
    position: relative;
    width: 60%;
    clear: both;     
}

p {
    text-align: center;
}
/* -----------------------Navbar */
.navbar {
    background-color: /*#243650;*/#3f4c5f;
    text-decoration: none;
    min-height: 60px;
    position: fixed;
}

.nav-item {
    transition: border-bottom .6s ease-in;
    font-size: 1.1rem;
    margin: 0 2rem 0;
    letter-spacing: .5px;
    padding: 0;
}

.nav-item:hover {
    border-bottom: 1px solid rgb(212, 205, 190);
    transition: border-bottom .6s ease-in; 
}

.navbar-dark .navbar-toggler {
    border-color: rgb(163, 153, 137);    
}
  
.navbar-dark .navbar-toggler-icon {  
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(163, 153, 137, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");  
}

.navbar-toggler:focus {
    flex: none;
    outline: none;
    box-shadow: rgb(163, 153, 137);
}

.active {
    color: #fafafa;
}

@media (min-width:992px){
    
    .nav-link:hover {
        padding-bottom: 0;
    }
    
    .active {
        padding-bottom: 0;
    }
    
}

.d-sm-flex.d-block.flex-sm-nowrap {
    text-align: center;
}

/* -----------------------Home Page - Background Image */

.container-fluid-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

  .home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.bgimage-home {
    background-image: url("../images/homep.JPG");
    filter: brightness(70%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* top: 59px;*/
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

/* -----------------------Home Page - Caption */

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute; /*makes the text to stick on the landing page (incl. with "top" property) and not fixed on the "about" section */
    top: 30%;
    z-index: 1; /*just to make sure it's visible on all browsers*/
    text-align: center;
}

.caption h3 {
    
    font-size: 5rem;
    text-transform: uppercase;
    padding-bottom: .1rem;
    text-shadow: 2px 2px 4px #082b34;
    font-weight: 400;
    color: #fafafa;
}

.caption h4 {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: 400;
    font-style: italic;
}


@media (min-width:1250px) {
    .caption {
        right: 10%;
    }
}

/* ----------------------------------------------------Rooms Page */

.rooms-container {
    padding: 0 0 0; 
}

.rooms {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(219, 206, 174);
    margin: 0;
    text-align: center;
}

.sub-heading-rooms {
    text-shadow: 2px 2px 4px rgb(163, 153, 137);
    padding-top: 75px;
}

/* -------Cards */
.card {
    box-shadow: 0px 0px 0px grey;
    transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
}
                        /*Taken from: https://codepen.io/Sarathkumar/post/css-hover-card-smooth-shadow*/
.card:hover{ 
   box-shadow: 1px 5px 20px grey;
   transition:  box-shadow .6s ease-in;
}

.card-title {
    text-transform: uppercase;
}

.card-body hr {
    border: 1px solid #63a1b575;
    border-radius: 0.5px;
    background-color: #63a1b575;
}
.rooms-card {
    margin-bottom: 2rem;
}

.card-body {
    color: rgb(133, 140, 143);
}

.carousel {
    padding: 0.01rem;
}

.carousel-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 19rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* -------Booking */

.booking-btn {
    position: relative;
    width: 10rem;
    background-color: rgb(211, 201, 172);
    color: ivory;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid ivory;
    padding: 0;

    box-shadow: 0px 0px 0px grey;
    transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
}

.booking-btn:hover {
    box-shadow: 1px 5px 20px grey;
    transition:  box-shadow .6s ease-in;
}

.booking-btn:focus {
    outline: none;
    box-shadow: none;
}


.booking-btn i {
    color: ivory;
}

.btn-outline-primary {
    color: #3f4c5f;
    border: 1px solid #66758c;
}

.btn-outline-primary:hover {
    background-color: #67758a;
    border: 1px solid ivory;
}

.booking-container {
    padding-bottom: 1rem;
    border-bottom: 1px solid #fafafa;
}
/* --Form */
.booking-form {
    margin-left: 1rem;
    padding: 2rem 2rem 1rem;
    box-shadow: 1px 5px 20px grey;
    background-color: rgb(211, 201, 172);
}

 .duration {
    margin: .6rem 0 0;
 }

 .duration p{
     text-align: left;
     
     color: rgb(255, 255, 255);
     font-size: 1.2rem;
 }

.datepicker {
    color: rgb(121, 117, 100);
}

.preference {
    margin-left: 0;
    padding-left: 0;
}

.otherpref {
    max-height: 9.1rem;
}


 /* --Area Picture*/
 .booking-col-right {
    background-image: url('../images/slowdownarea.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 70vh;
    padding: 0;
    filter: sepia(50%);
    transform: scale(1);
	transition: all 0.6s ease-in-out;
}

.booking-col-right:hover {
    filter: sepia(10%);
    transform: scale(1.05);
}
/* ----------------------------------------------------Resort Area Page */

.area-container {
    position: relative;
    padding: 0;
}

.area-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.area {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-image: url(../images/surfpic.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
}

.area-col-left {
    height: 80vh;
    background-color: rgba(150, 161, 169, 0.2);
    margin: 4rem 1rem 0;
}

.area-col-left:hover {
    box-shadow: 0 0 2px 2px rgba(164, 166, 181, 0.5);
    transition:  box-shadow 1s ease-in-out;
}


@media (min-width:768px) {
    .area-col-left {
        left: 3.4rem;
        margin: 4rem 0 0;
    }

    .sub-heading-area {
        padding-top: 75px;
    }
}