@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* -----------------------General CSS */

body {
    position: relative;
    font-family: "Quicksand", sans-serif;
    color: #fafafa;
    margin: 0;
    padding: 0;
}

.sub-heading {    /* <-----All Pages Headings */
    color: #fafafaf1;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
}

.sub-heading-rooms {
    text-shadow: 2px 2px 4px rgb(163, 153, 137);
    padding-top: 75px;
}

.sub-heading-area {
    text-shadow: 2px 2px 4px #273953;
    padding-top: 75px;
}

hr {
    position: relative;
    width: 60%;
    clear: both;     
}
/* -----------------------Navbar */
.navbar {
    background-color: #243650;
    box-shadow: 0 0 1px 1px #3c5882;
}

.nav-link {
    font-size: 1.1rem;
    margin: 0rem 2rem 0;
    letter-spacing: .5px;
}

.nav-link:hover {
    color: #0f1722;
    border-bottom: 1px solid rgb(212, 205, 190);
}


.navbar-dark .navbar-toggler {
    border-color: rgb(163, 153, 137);    
}
  
.navbar-dark .navbar-toggler-icon {  
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(163, 153, 137, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");  
}

.active {
    color: #fafafa;
}

@media (min-width:992px){
    
    .nav-link:hover {
        padding-bottom: 0;
    }
    
    .active {
        padding-bottom: 0;
    }
    
}

/* -----------------------Home Page - Background Image */

.container-fluid-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

  .home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.bgimage-home {
    background-image: url("../images/homep.JPG");
    filter: brightness(70%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* top: 59px;*/
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

/* -----------------------Home Page - Caption */

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute; /*makes the text to stick on the landing page (incl. with "top" property) and not fixed on the "about" section */
    top: 30%;
    z-index: 1; /*just to make sure it's visible on all browsers*/
    text-align: center;
    margin-right: 2rem;
}

.caption h3 {
    
    font-size: 5rem;
    text-transform: uppercase;
    padding-bottom: .1rem;
    text-shadow: 2px 2px 4px #082b34;
    font-weight: 400;
    color: #fafafa;
}

.caption h4 {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: 400;
    font-style: italic;
}


@media (min-width:1250px) {
    .caption {
        right: 10%;
    }
}

/* ----------------------------------------------------Rooms Page */

.rooms-container {
    padding: 0 0 0; 
}

.rooms {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(212, 205, 190);
    margin: 0;
    text-align: center;
}

/* -------Cards */
.card {
    box-shadow: 0px 0px 0px grey;
    transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
}
                        /*Taken from: https://codepen.io/Sarathkumar/post/css-hover-card-smooth-shadow*/
.card:hover{ 
   box-shadow: 1px 5px 20px grey;
   transition:  box-shadow .6s ease-in;
}

.rooms-card {
    margin-bottom: 2rem;
}

.card-body {
    color: rgb(144, 148, 151);
}

.carousel {
    padding: 0.01rem;
}

.carousel-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 19rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


/* ----------------------------------------------------Resort Area Page */

.area-container {
    position: relative;
    padding: 0 0 0;
}

.area-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.area {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-image: url(../images/surfpic.jpg);
    /*box-shadow: 0 0 2px 2px rgba(27, 27, 27, 0.95);*/
    margin: 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
}


.area-col-right {
    background-image: url('../images/testtranspbg2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    margin-top: 6rem;
    left: 3.4rem;
}

.area-col-left {
    height: 80vh;
    background-color: rgba(157, 159, 170, 0.7);
    margin-top: 6rem;
    left: 3.4rem;
}

#hr-area {
    color: #05191f;
}