@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* -----------------------General CSS */

body {
    position: relative;
    font-family: "Quicksand", sans-serif;
    color: #fafafa;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sub-heading {    /* <-----All Pages Headings */
    color: #fbf2e4;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
}

hr {
    position: relative;
    width: 60%;
    clear: both;     
}

p {
    text-align: center;
}

.bold-text {
    font-weight: 700;
}
/* -----------------------Navbar */
.navbar {
    background-color: rgba(195, 198, 203, 0.4);
    text-decoration: none;
    min-height: min-content;
}

.nav-item {
    transition: border-bottom .6s ease-in;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .8px;
}

.nav-item:hover {
    border-bottom: 1px solid rgb(212, 205, 190);
    transition: border-bottom .6s ease-in; 
}

.navbar-dark .navbar-toggler {
    border-color: rgb(179, 179, 179); /*rgb(163, 153, 137);   */ 
}
  
.navbar-dark .navbar-toggler-icon {  
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(179, 179, 179, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");  
}

.active {
    color: #fafafa;
}

/* -----------------------Home Page - Background Image */

.container-fluid-hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

  .home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.bgimage-home {
    background-image: url("../images/homep.JPG");
    filter: brightness(100%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

/* -----------------------Home Page - Caption */

.caption {
    position: absolute; /*makes the text to stick on the landing page (incl. with "top" property) and not fixed on the "about" section */
    top: 28%;
    z-index: 1; /*just to make sure it's visible on all browsers*/
    text-align: center;
}

.caption h3 {
    
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0 1rem 0;
    padding: 0 1rem .1rem;
    text-shadow: 2px 2px 4px #082b34;
    font-weight: 400;
    color: #fafafa;
}

.caption h4 {
    color: white;
    font-size: .8rem;
    padding-bottom: 2rem;
    font-weight: 400;
    font-style: italic;
}



/* ----------------------------------------------------Rooms Page */

.rooms {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(219, 206, 174, 1);
    box-shadow: 0 0 20px rgba(136, 125, 95, 0.8);
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
}

.sub-heading-rooms {
    text-shadow: 2px 2px 4px rgb(163, 153, 137);
    padding-top: 75px;
}


.sub-heading-rooms~hr {
    padding-bottom: 2rem;
}

/* -------Cards */
.card-container {
    padding: 0 1rem 0;
}

.card {
    box-shadow: 0px 0px 0px grey;
    transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
}
                        /*Inspiration from: https://codepen.io/Sarathkumar/post/css-hover-card-smooth-shadow*/
.card:hover{ 
   box-shadow: 1px 5px 20px grey;
   transition:  box-shadow .6s ease-in;
}

.card-title {
    text-transform: uppercase;
}

.card-body hr {
    border: 2px solid #7c7e80;
}
.rooms-card {
    margin-bottom: 2rem;
}

.card-body {
    color: rgb(133, 140, 143);
}

.carousel {
    padding: 0.01rem;
}

.rooms-card .carousel-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 19rem;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.carousel-indicators li {
    border-radius: 33%;
    height: 4px;
    width: 30px;
    background-color: rgb(214, 205, 177);
    margin: 0 1rem 0;
    cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 150%;
}
.carousel-control-prev i,
.carousel-control-next i  {
    color: rgba(219, 206, 174, 1);
}

.carousel-control-prev i:hover,
.carousel-control-next i:hover {
    color: #f9f9fa;
}



/* -----------------------Space Image 1 */

.container-space {
    position: relative;
    width: 100vw;
    height: 20vh;
    z-index: -1;
    background-color: rgb(151, 141, 114);
}

  .space-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.bgimage-space-1 {
    background-image: url("../images/smallpool.jpg");
    opacity: 0.5;
    filter: brightness(40%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

/* ----------------------------------------------Booking */

.booking-container {
    background-color: #7f8285;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    padding-bottom: 3rem;
}

.sub-heading-booking {
    text-shadow: 2px 2px 4px #3f4c5f;
    padding: 75px 0 0;
}
.sub-heading-booking~hr {
    padding-bottom: 1rem;
}

/* --Form */
.booking-form {
    border-radius: 1%;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
    box-shadow: 1px 5px 20px rgb(53, 53, 53);
    background-color: rgb(219, 206, 174);
}

 .duration {
    margin: .6rem 0 0;
 }

 .duration p{
     text-align: left;
     
     color: rgb(255, 255, 255);
     font-size: 1.2rem;
 }

.datepicker {
    color: rgb(121, 117, 100);
}

.preference {
    margin-left: 0;
    padding-left: 0;
}

.otherpref {
    max-height: 9.1rem;
}

.booking-btn {
    font-weight: 500;
    color: #606f85;
    border-color: #8e9cb1bf;
}

.booking-btn:hover {
    background-color: #8e9cb1bf;
    color: #fafafa;
}


 /* --Area Picture*/
 .booking-col-right {
    background-image: url('../images/slowdownarea.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 50vh;
    margin: 1rem 0 0 0;
    filter: sepia(50%);
    transform: scale(1);
	transition: all 0.6s ease-in-out;
}

.booking-col-right:hover {
    filter: sepia(10%);
    transform: scale(1.05);
}



/* -----------------------Space Image 2 */

.bgimage-space-2 {
    background-image: url("../images/surfpic.jpg");
    opacity: 0.5;
    filter: brightness(40%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}


/* ----------------------------------------------Restaurant Page */

.restaurant {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(219, 206, 174, 1);
    box-shadow: 0 0 20px rgba(136, 125, 95, 0.8);
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
}

.sub-heading-restaurant {
    text-shadow: 2px 2px 4px rgb(163, 153, 137);
    padding-top: 75px;
    font-size: 50px;
}
    
.sub-heading-restaurant~hr {
    padding-bottom: 1rem;
}

.text-box {
    border-radius: 1%;
    margin: 2rem 0 2rem;
    padding: 1rem;
    box-shadow: 1px 5px 20px rgb(53, 53, 53);
    background-color: rgb(219, 206, 174);
}

.text-box p {
    font-size: 18px;
    font-weight: 200;
}

.restaurant-text {
    padding: 0 1rem 0;
}

.text-box h1 {
    font-size: 20px;
    font-weight: 500;
    padding: .5rem 0 .5rem;
}

.text-box h4 {
    font-size: 25px;
}

.text-box h2 {
    padding-top: 1rem;
}

.restaurant-card {
    border-radius: 1%;
    min-height: 30vh;

}

.restaurant-card .carousel-item {
    min-height: 30vh;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.card-img-overlay {
    padding: 0;
    margin: 0;
}



/* ----------------------------------------------Footer/Contact Page */

.contact-container {
    background-color: #a5aeb8;
    position: relative;
    width: 100%;
    min-height: 20vh;
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
}

.contact-container .row {
    padding-top: 1rem;
}

.social-icons {
    text-align: center;
   
    text-decoration: none;
}
.social-icons i {
    text-align: center;
    margin: 1rem 1rem 0;
    width: 50px;
    height: 50px;
    text-decoration: none;
    
    color: rgb(219, 206, 174);
    font-size: 30px;
}



/* ----------------------------------------------Go-to-top Button (Inspiration from: https://www.youtube.com/watch?v=Vef9bxTilCU */

.go-to-top {                             
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgba(204, 211, 218, 0.3);
    bottom: 40px;
    right: 20px;

    border-radius: 50%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fafafa;
    font-size: 22px;


}

.go-to-top:hover {
    color: rgb(219, 206, 174);
}


/* ----------------------------------------------MEDIA QUERIES */

@media (min-width: 497px) {
    .caption h3 {
        font-size: 4.5rem;
    }

    .caption h4 {
        font-size: 1.1rem;
    }
}


@media (min-width: 768px) {
    
    .caption {
        top: 25%;
    }

    .caption h4 {
        font-size: 1.5rem;
    }

    .booking-col-right {
        height: 70vh;
    }
    .sub-heading-restaurant {
        font-size: 3.5rem;
    }
    
    .text-box h1 {
        font-size: 43px;
        font-weight: 500;
        padding: .5rem 0 1rem;
    }
    .social-icons i {
        font-size: 20px;
        margin: 1rem 0 0;
        

    }
}


@media (min-width: 992px) {
    /* -- MQ-Navbar -- */
    .navbar {
        background-color: rgba(63, 76, 95,0.7);
    }

    .nav-item {
        margin: 0 2rem 0;
    }

    .nav-link:hover {
        padding-bottom: 0;
    }
    
    .active {
        padding-bottom: 0;
    }

    /* -- MQ-Home Page Caption -- */
    .caption {
        right: 10%;
        width: 100%;
    }

    .caption h3 {
        font-size: 5.5rem;
    }

    .caption h4 {
        font-size: 1.5rem;
    }

    /* -- MQ-Booking Page -- */
    .booking-form {
        margin-left: 2rem;
        padding-top: 2rem;
    }
    
    .booking-col-right {
        margin: 0 1rem 0 7rem;
    }

    .sub-heading-restaurant {
        font-size: 4rem;
    }

    .text-box {
        margin: 0;
        min-height: 65vh;
    }

    .restaurant-card {
        min-height: 65vh;
    }

    .restaurant-card .carousel-item {
        min-height: 65vh;
    }

    .social-icons i {
        font-size: 30px;
        margin: 1rem 1rem 0;
    }
}




